<% provide(:title, @user.name) %>
<h1>プロフィール</h1>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <table class="table table-bordered table-condensed user-table">
      <tr>
        <td class="col-md-4 table-user-show table-user">ID</td>
        <td class="col-md-8 table-user"><%= @user.id %></td>
      </tr>
      <tr>
        <td class="table-user-show table-user">名前</td>
        <td class="table-user"><%= @user.name %></td>
      </tr>
      <tr>
        <td class="table-user-show table-user">メールアドレス</td>
        <td class="table-user"><%= @user.email %></td>
      </tr>
      <tr>
        <td class="table-user-show table-user">作成日</td>
        <td class="table-user"><%= l(@user.created_at, format: :long) %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-3"></div>
</div>